---
import { contentfulClient } from "@lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Blog } from "@lib/contentful";
import MainLayout from "@layouts/MainLayout.astro";

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<Blog>({
    content_type: "blogOfTheHappyTacoCompany",
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      description: item.fields.description,
      date: new Date(item.fields.pubDate).toLocaleDateString(),
    },
  }));
  return pages;
}

type Props = {
  title: string;
  content: string;
  description: string;
  date: string;
};

const { content, title, date, description } = Astro.props;
---

<MainLayout title={title} description={description} pubDate={date}>
  <main>
    <h1>{title}</h1>
    <time>{date}</time>
    <article set:html={content} />
  </main>
</MainLayout>
